<mat-nav-list>
    <div class="logo py-4">
      <!-- <img src="./assets/logo.svg" alt="Company Logo" /> -->
      <h2 matheader class="mt-2">Admin</h2>
    </div>
    <mat-divider></mat-divider>
    
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/cutomers">
      <mat-icon>people</mat-icon>Cutomers
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addcompanies">
      <mat-icon>add_box</mat-icon> Companies
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/addbicycles">
      <mat-icon>motorcycle</mat-icon> Bicycles
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments">
      <mat-icon>payment</mat-icon> PaymentDetails
    </a>
  </mat-nav-list>